<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DatabaseConnectionString" value="Data Source=f:\android\database.sqlite;Version=3;" />
    <add key="DatabaseFilePath" value="f:\android\database.sqlite" />
    <add key="FDroidGitRepository" value="https://gitlab.com/fdroid/fdroiddata.git" />
    <add key="FDroidDownloadPath" value="f:\Android\FDroid" />
    <add key="IncludeGit" value="true" />
    <add key="IncludeSVN" value="false" />
    <add key="AppDownloadPath" value="f:\Android\Apps" />
    <add key="AppTagDownloadPath" value="f:\Android\Tags" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>