<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DatabaseConnectionString" value="Data Source=database.sqlite;Version=3;" />
    <add key="FDroidGitRepository" value="https://gitlab.com/fdroid/fdroiddata.git" />
    <add key="FDroidDownloadPath" value="C:\Android\FDroid" />
    <add key="IncludeGit" value="true" />
    <add key="IncludeSVN" value="false" />
    <add key="AppDownloadPath" value="C:\Android\Apps" />
    <add key="AppTagDownloadPath" value="C:\Android\Tags" />
  </appSettings>
</configuration>